{{#each fondo}}

<body background="/imagenes/{{img}}">
  {{/each}}
  <div class="container">
    <center>
      <h1>
        <font size="9" face="Georgia, Arial" color="#990000">A</font><font color="white">spectos </font><font size="9" face="Georgia, Arial" color="#990000">D</font><font color="white">e </font><font size="9" face="Georgia, Arial" color="#990000">L</font><font color="white">a </font><font size="9" face="Georgia, Arial" color="#990000">P</font><font color="white">agina</font>
      </h1>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>¡Hola Aprovecha!</strong> Con nuestra nueva actualización puedes remodelar la pagina a tu gusto.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-dark">
            <div class="card-body">

              {{#each mision}}
              <h5 class="card-title">{{mensaje}}</h5>
              {{/each}}
              <hr>
              <form action="/CookGolden/mision" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Misión</label>
                  <textarea class="form-control" name="mensaje" placeholder="Escribe..." rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>





        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              {{#each vision}}
              <h5 class="card-title">{{mensaje}}</h5>
              {{/each}}
              <hr>
              <form action="/CookGolden/vision" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Visión</label>
                  <textarea class="form-control" name="mensaje" placeholder="Escribe..." rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <br>


      <div class="row">
        <div class="col-sm-6">
          <div class="card ">
            <div class="card-body">

              {{#each fondo}}

              <img src="/imagenes/{{img}}" height="200">
              <br>
              <a href="/CookGolden/fondodelete/{{id_fondo}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#fondo{{id_fondo}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="fondo{{id_fondo}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/fondo/modificar/{{id_fondo}}" method="POST">
        <img src="/imagenes/{{img}}" height="200">
              <br> 
              <br>
              <div class="form-group">
                  
                  <input type="file" class="form-control-file" name="img" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->

              {{/each}}

              <hr>
              <form action="/CookGolden/fondo" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Fondo</label>
                  <input type="file" class="form-control-file" name="img" required>
                </div>

                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>



        <div class="col-sm-6">
          <div class="card text-white bg-dark">

            <div class="card-body">

              {{#each carrusel}}

              <img src="/imagenes/{{img}}" class="card-img-top">
              <br>
              <a href="/CookGolden/carruseldelete/{{id_carrusel}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#carru{{id_carrusel}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="carru{{id_carrusel}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/carrusel/modificar/{{id_carrusel}}" method="POST">
        <img src="/imagenes/{{img}}" height="200">
              <br> 
              <br>
              <div class="form-group">
                  
                  <input type="file" class="form-control-file" name="img" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->

              {{/each}}

              <hr>

              <form action="/CookGolden/carrusel" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Imagen De Carrusel</label>
                  <input type="file" class="form-control-file" name="img" required>
                </div>

                <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>







      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-dark">
            <div class="card-body">

              {{#each nameperfil}}

              <font size="9" face="Georgia" color="white">{{nombre}}</font>
              <br>
              <a href="/CookGolden/perfildelete/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#perfil{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="perfil{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/nameperfil/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}

              <hr>
              <form action="/CookGolden/perfil" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Titulo De Perfil</label>
                  <input type="text" class="form-control" name="nombre" required placeholder="Ingrese Nombre"
                    aria-describedby="emailHelp">

                </div>

                <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
          <div class="card ">
            <div class="card-body">
              {{#each nombre}}

              <font size="9" face="Georgia" color="black">{{nombre}}</font>
              <br>
              <a href="/CookGolden/pagdelete/{{id_nombre}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#pagina{{id_nombre}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="pagina{{id_nombre}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/namepagina/modificar/{{id_nombre}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}
              <hr>
              <form action="/CookGolden/nombre" method="POST">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre De La Pagina</label>
                  <input type="text" class="form-control" required name="nombre" placeholder="Ingrese Nombre">


                </div>

                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card ">
            <div class="card-body">

              {{#each receta}}

              <font size="9" face="Georgia" color="black">{{nombre}}</font>
              <br>
              <a href="/CookGolden/namerecet/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#rece{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="rece{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/namerece/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}

              <hr>
              <form action="/CookGolden/receta" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Titulo De Recetas</label>
                  <input type="text" class="form-control" required name="nombre" placeholder="Ingrese Titulo">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>





        <div class="col-sm-6">
          <div class="card text-white bg-dark">
            <div class="card-body">

              {{#each comida}}

              <font size="9" face="Georgia" color="white">{{nombre}}</font>
              <br>
              <a href="/CookGolden/comidadelete/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#comida{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="comida{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/comida/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}

              <hr>
              <form action="/CookGolden/comida" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Titulo De Comidas</label>
                  <input type="text" class="form-control" required name="nombre" placeholder="Ingrese Titulo">
                </div>
                <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-dark">
            <div class="card-body">

              {{#each bebida}}

              <font size="9" face="Georgia" color="white">{{nombre}}</font>
              <br>
              <a href="/CookGolden/bebidadelete/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#bebida{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="bebida{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/bebida/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}

              <hr>
              <form action="/CookGolden/bebida" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Titulo De Bebidas</label>
                  <input type="text" class="form-control" required name="nombre" placeholder="Ingrese Titulo">
                </div>
                <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>





        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">

              {{#each postre}}

              <font size="9" face="Georgia" color="black">{{nombre}}</font>
              <br>
              <a href="/CookGolden/postredelete/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#postre{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="postre{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/postre/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}

              <hr>
              <form action="/CookGolden/postre" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Titulo De Postres</label>
                  <input type="text" class="form-control" required name="nombre" placeholder="Ingrese Titulo">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>



      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card ">
            <div class="card-body">

              {{#each bienvenida}}

              <font size="9" face="Georgia" color="black">{{mensaje}}</font>
              <br>
              <a href="/CookGolden/welcomedelete/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#bienvenida{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="bienvenida{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/bienvenida/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="mensaje" value="{{mensaje}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}


              <hr>
              <form action="/CookGolden/bienvenida" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mensaje De Bienvenida</label>
                  <input type="text" class="form-control" required name="mensaje" placeholder="Ingrese Titulo">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>





        <div class="col-sm-6">
          <div class="card text-white bg-dark">
            <div class="card-body">

              {{#each colores}}

              <button type="button" class="btn btn-{{color}}">{{color}}</button>
              <a href="/CookGolden/coloresdelete/{{id_colores}}">
                <button type="button" class="btn btn-outline-danger ">X</button>
              </a>
              <br>
              


              {{/each}}

              <hr>
              <form action="/CookGolden/colores" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Colores</label>
                  <input type="text" class="form-control" required name="color" placeholder="Escribe el color">
                </div>
                <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>




      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card text-white bg-dark">
            <div class="card-body">

              {{#each btnColors}}

              <button type="button" class="btn btn-outline-{{color}}">Color Actual</button>
              

               <a href="/CookGolden/btncolorsdelete/{{id_botones}}">
                <button type="button" class="btn btn-outline-danger ">X</button>
              </a>
             
             

              {{/each}}

              <hr>
              <form action="/CookGolden/btnColors" method="POST">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Color De Los Botones De Bienvenida</label>
                <select class="form-control" name="id_color">
                  {{#each colores}}
                  <option value="{{id_colores}}">{{color}}</option>
                  
                  {{/each}}
                </select>
              </div>
              <button type="submit" class="btn btn-outline-light btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>





        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">

              {{#each namefavoritos}}

              <font size="9" face="Georgia" color="black">{{nombre}}</font>
              <br>
              <a href="/CookGolden/namefavdelete/{{id}}">
                <button type="button" class="btn btn-outline-danger ">Eliminar</button>
              </a>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#favo{{id}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="favo{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/favo/modificar/{{id}}" method="POST">
        
              <div class="form-group">
                  
                  <input type="text"  name="nombre" value="{{nombre}}" required>
                </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
              {{/each}}

              <hr>
              <form action="/CookGolden/namefavoritos" method="POST">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Titulo De Favoritos</label>
                  <input type="text" class="form-control" required name="nombre" placeholder="Ingrese Titulo">
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>






    </center>
  </div>