<div class="container">
    <br>
    <center>
     <h1>
            <font size="9" face="Georgia, Arial" color="#990000">N</font><font color="white">osotros</font>
        </h1>
        </center>
        <div class="alert " role="alert">
  <h3><font size="9" face="Georgia, Arial" color="#990000">V</font><font color="white">isión</font></h3>
  <hr>
  {{#each vision}}
  <p>
                <font style="color: white;" face="Georgia" size="4"> {{mensaje}}</font>
            </p>
            <a href="/CookGolden/visiondelete/{{id_vision}}">
            <button type="button" class="btn btn-outline-danger btn-block">Eliminar</button>
</a>

  <button type="button" class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#vision{{id_vision}}">
  <font style="color: white;">Modificar</font>
</button>

<!-- Modal -->
<div class="modal fade" id="vision{{id_vision}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/vision/modificar/{{id_vision}}" method="POST">
        
         
        <div class="form-group">
        <textarea name="mensaje" id="" cols="57" rows="7">{{mensaje}}</textarea>
        </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->



            {{/each}}
           
</div>
<br>
  <div class="alert " role="alert">
  <h3><font size="9" face="Georgia, Arial" color="#990000">M</font><font color="white">isión</font></h3>
  <hr>
  
  {{#each mision}}
  <p>
                <font style="color: white;" face="Georgia" size="4"> {{mensaje}}</font>
            </p>
            <a href="/CookGolden/misiondelete/{{id_mision}}">
            <button type="button" class="btn btn-outline-danger btn-block">Eliminar</button>
</a>

  <button type="button" class="btn btn-outline-dark btn-block" data-toggle="modal" data-target="#mision{{id_mision}}">
  <font style="color: white;">Modificar</font>
</button>

<!-- Modal -->
<div class="modal fade" id="mision{{id_mision}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/mision/modificar/{{id_mision}}" method="POST">
        
         
        <div class="form-group">
        <textarea name="mensaje" id="" cols="57" rows="7">{{mensaje}}</textarea>
        </div>
        
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
            {{/each}}
            
            
            
</div>
<div class="alert  " role="alert">
    <center>
    <table>
        <tr>
            <td>
                <a href="https://www.youtube.com"><img src="/imagenes/you.jpg" class="rounded-circle float-left" height="100"></a>
<br>
<h5><font  face="Georgia, Arial" color="#990000">Y</font><font color="white">ou<font  face="Georgia, Arial" color="#990000">T</font>ube</font></h5>
            </td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>

<a href="https://www.facebook.com/"><h5>
    <img src="/imagenes/face.jpg" class="rounded-circle mx-auto d-block" height="100">
    
    </a>
<font  face="Georgia, Arial" color="#990000">F</font><font color="white">acebook</font></h5>
            </td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>

<a href="https://www.instagram.com"><img src="/imagenes/ins.jpg" class="rounded-circle float-right" height="100"><br></a>
<h5><font  face="Georgia, Arial" color="#990000">I</font><font color="white">nstagram</font></h5>
            </td>
        </tr>
    </table>
</center>


</div>
</div>