<div class="container">
    <center>
        <br>
        <h1>
             {{#each receta}}

              <font size="9" face="Georgia" color="white">{{nombre}}</font>
              
              {{/each}}

        </h1>
        <div class="alert alert-light">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#comida" role="tab" aria-controls="home" aria-selected="true">Comidas</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#bebida" role="tab" aria-controls="profile" aria-selected="false">Bebidas</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#postre" role="tab" aria-controls="contact" aria-selected="false">Postres</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- Comidas -->
  <div class="tab-pane fade show active" id="comida" role="tabpanel" aria-labelledby="home-tab">
      
     <div class="row">

            {{#each comidas}}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card-deck">
                    <div class="card">
                <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <div class="card-footer">
                    
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modrecet{{id_receta}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="modrecet{{id_receta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/recetas/modificar/{{id_receta}}" method="POST">
        <img src="/imagenes/{{img}}" height="250"> <hr>
        <div class="form-group">
        <input type="text" name="nombre" class="form-control" value="{{nombre}}"><br>
        </div>
        <div class="form-group">
        
        <textarea name="descripcion" cols="50" rows="7" value="{{descripcion}}">{{descripcion}}</textarea>
        </div>
     
        
        
        <div class="form-group">
        <input type="text" name="img" class="form-control" value="{{img}}" hidden>
        </div>
        <div class="form-group">
        <input type="text" name="id_clasif" class="form-control" value="{{id_clasif}}" hidden>
        </div>
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#recet{{id_receta}}">
  Eliminar
</button>

<!-- Modal -->
<div class="modal fade" id="recet{{id_receta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-white bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Mensaje!</h5>
        
      </div>
      <div class="modal-body">
        <h4>Estas seguro de eliminar:</h4> <br>
         <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
        <a href="/CookGolden/recetdelet/{{id_receta}}">
            <button type="button" class="btn btn-outline-danger">Aceptar</button>
        </a>
        
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
                </div>
            </div>
                </div>
                <br>
            </div>

            {{/each}}

        </div>

    </div>
<!-- bebida -->

  <div class="tab-pane fade" id="bebida" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">

            {{#each bebidas}}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card-deck">
                    <div class="card">
                <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <div class="card-footer">
                    
                     <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modrecet{{id_receta}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="modrecet{{id_receta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/recetas/modificar/{{id_receta}}" method="POST">
        <img src="/imagenes/{{img}}" height="250"> <hr>
        <div class="form-group">
        <input type="text" name="nombre" class="form-control" value="{{nombre}}"><br>
        </div>
        <div class="form-group">
        
        <textarea name="descripcion" cols="50" rows="7" value="{{descripcion}}">{{descripcion}}</textarea>
        </div>
     
        
        
        <div class="form-group">
        <input type="text" name="img" class="form-control" value="{{img}}" hidden>
        </div>
        <div class="form-group">
        <input type="text" name="id_clasif" class="form-control" value="{{id_clasif}}" hidden>
        </div>
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
                      <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#recet{{id_receta}}">
  Eliminar
</button>

<!-- Modal -->
<div class="modal fade" id="recet{{id_receta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-white bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Mensaje!</h5>
        
      </div>
      <div class="modal-body">
        <h4>Estas seguro de eliminar:</h4> <br>
         <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
        <a href="/CookGolden/recetdelet/{{id_receta}}">
            <button type="button" class="btn btn-outline-danger">Aceptar</button>
        </a>
        
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
                </div>
            </div>
                </div>
                <br>
            </div>

            {{/each}}

        </div>

  </div>


  <!-- postres -->
  <div class="tab-pane fade" id="postre" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">

            {{#each postres}}
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card-deck">
                    <div class="card">
                <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                <div class="card-body">
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
                </div>
                <div class="card-footer">
                    
                     <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#modrecet{{id_receta}}">
  Modificar
</button>

<!-- Modal -->
<div class="modal fade" id="modrecet{{id_receta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar</h5>
       
      </div>
      <div class="modal-body">
          
        <form action="/CookGolden/admin/recetas/modificar/{{id_receta}}" method="POST">
        <img src="/imagenes/{{img}}" height="250"> <hr>
        <div class="form-group">
        <input type="text" name="nombre" class="form-control" value="{{nombre}}"><br>
        </div>
        <div class="form-group">
        
        <textarea name="descripcion" cols="50" rows="7" value="{{descripcion}}">{{descripcion}}</textarea>
        </div>
     
        
        
        <div class="form-group">
        <input type="text" name="img" class="form-control" value="{{img}}" hidden>
        </div>
        <div class="form-group">
        <input type="text" name="id_clasif" class="form-control" value="{{id_clasif}}" hidden>
        </div>
      </div>
      <div class="modal-footer">
               <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-success" >actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
                      <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#recet{{id_receta}}">
  Eliminar
</button>

<!-- Modal -->
<div class="modal fade" id="recet{{id_receta}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-white bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Mensaje!</h5>
        
      </div>
      <div class="modal-body">
        <h4>Estas seguro de eliminar:</h4> <br>
         <img src="/imagenes/{{img}}" class="card-img-top" height="270">
                
                    <h5 class="card-title">{{nombre}}</h5>
                    <p class="card-text">{{descripcion}}</p>
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancelar</button>
        <a href="/CookGolden/recetdelet/{{id_receta}}">
            <button type="button" class="btn btn-outline-danger">Aceptar</button>
        </a>
        
      </div>
    </div>
  </div>
</div>
<!-- Cierre -->
                </div>
            </div>
                </div>
                <br>
            </div>

            {{/each}}

        </div>  
    
  </div>
</div>
        </div>
    </center>
</div>